@model Grupo701D2.Models.autobuses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>autobuses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ruta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ruta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conductor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conductor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
